html
  head
    title Aggr
    link(
      rel="stylesheet",
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css",
      integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi",
      crossorigin="anonymous")
    link(
      rel="stylesheet",
      href="/styles/app.css")

  body
    div.container
      div.row
        div.col-md-2
          h3 Aggr
            | <br>
            | <small> #{title} </small>
          ul
            li: h5 2018
            li: a(href="/") Current Month
            li: a(href="/2018/february") February
            li: a(href="/2018/january") January

            li: h5 2017
            each m in months
              li: a(href="/2017/" + m.toLowerCase()) #{m}

        div.col-md-10
          table.table.table-striped
            thead
              tr
                th Date
                th Artist
                th Album
            tbody
              each a in albums
                tr
                  td #{a.date}
                  td #{a.artist}
                  if a.link
                    td: a(href=`${a.link}`) #{a.album}
                  else
                    td #{a.album}
